

/******************** Main content ****************************/

.main{
    width: 100vw;
    padding: 40px 16vw;
}
.nameDiv > h1, .nameDiv > h4{
    font-weight: 300;
}
.nameDiv > h1{
    margin-bottom: 10px;
}

.content{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.content_left_div, .content_right_div{
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    width: 49.9%; 
}
.content_left_div > img{
    margin-right: 50px;
}

.content_left_div > div {
    margin-top: 0;
}

.content_left_div > div > h1{
    font-size: 96px;
    font-weight: 300;
    margin-bottom: 10px;
}
.content_left_div > div > p{
    margin-left: 20px;
    font-size: 24px;
    opacity: 0.9;
}
.content_right_div{
    padding: 10px;
    gap: 30px;
    justify-content: space-evenly;
}
.content_cards{
    height: 100px;
    flex-basis: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_cards > h3{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 6px;
}
.content_cards > p {
    font-size: 16px;
    opacity: 0.8;
}
.vertical_line{
    background-color: white;
    width: 0.2%;
    height: 200px;
}

/****************** Second section ********************/
.second_section{
    margin-top: 50px;
}
.second_section > h3{
    font-weight: 300;
}

.forcast_card_parent{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}
.forcast_card{
    margin-right: 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
    flex-basis: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forcast_card > p{
    font-size: 22px;
    margin: 5px;
}